@model IEnumerable<WebApplication1.Models.Project>

@{
    Layout = "~/Views/Shared/_LayoutWOAddInfo.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.ActionLink(item.ProjectDescription, "Details", new { @id = item.ProjectId }, null)
        </td>
        
    </tr>
}

</table>
