@{
    ViewBag.Title = "ReportLand-Start";
}

<div>
 <p>Welcome to my application! Here you can create projects and manage them in a faster way.</p>
    <p>To continue, please register via link in the top-right corner</p>
</div>

<div>
</div>