/*.main-navigation-bar-pk {
}*/

.div-hr {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: .3em;
    margin-bottom: .3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.div-borders {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: .1em;
}

.task-header {
    /*padding: .5em;*/
    /*background-color:burlywood;*/
    border-radius: 15px 50px 30px;
}

.progress {
    position: relative;
}

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

.row {
    padding-left: .3em;
    padding-right: .3em;
}

    .row.col-mar {
        margin-right: 0;
        margin-left: 0;
    }

        .row.col-mar > [class*='col-'] {
            padding-right: 0em;
            padding-left: 0em;
            margin-bottom: .3em;
            margin-top: .3em;
        }


input[type=number] {
    width: 8em;
}

.header {
    background-color: antiquewhite;
    margin-bottom: 1em;
    padding: .5em;
    font-size: 1.2em;
}

.header-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.reports-table-header-pk {
    font-size: 2em;
    text-decoration: solid;
    color: black;
}

.done-color {
    height: 1.2em;
    width: 1.2em;
    background-color: #419641;
    border-radius: 50%;
    display: inline-block;
}

.havetime-color {
    height: 1.2em;
    width: 1.2em;
    background-color: royalblue;
    border-radius: 50%;
    display: inline-block;
}

.outstanding-color {
    height: 1.2em;
    width: 1.2em;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.progress-color {
    height: 1.2em;
    width: 1.2em;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

.main-navigation-bar-div-pk {
    border-radius: 15px;
    border: .2em solid white;
    text-align: center;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

    .main-navigation-bar-div-pk > a {
        font-size: 1.2em;
        text-decoration: none;
        color: black;
    }

    .main-navigation-bar-div-pk:hover {
        font-size: 1.1em;
    }

body {
    /*background-color:rgb(178, 173, 173);*/
    padding-top: 50px;
    padding-bottom: 20px;
}

td {
    padding-bottom: .3em;
    padding-top: .3em;
}

/*.btn-main-pk {
}*/
.btn-mx {
    margin-left: .3em;
    margin-right: .3em;
}

.property-header{
    font-weight:bold;
    text-align:center;
    font-size:120%;
}

.property{
    text-align:center;
    font-size:100%;
}

.progress {
    margin-bottom: 0px;
    border-radius: 15px;
    text-align: center;
    /*width: 50%;*/
    /*margin: 15px auto;*/
}

.progress-value {
    /*position: absolute;
    right: 0;
    left: 0;*/
}

.task-container-pk {
    display: flex;
    font-size: 1.1em;
    /*padding-bottom:.5em;*/
    /*flex-direction: column;*/
}

.div-text-center-pk {
    text-align: center;
    vertical-align: central;
}

.flex-item-big-abs-pk {
    /*flex-grow: 3;*/
    width: 40%;
    margin-left: .3em;
    margin-right: .3em;
}

.flex-item-big-pk {
    flex-grow: 3;
    margin-left: .3em;
    margin-right: .3em;
}

.div-property {
    width: 33%;
    margin-top:1em;
    margin-bottom:1em;
}

.task-table-header-item{
    font-weight:bold;
    font-size:110%;
}

@media screen and (max-width: 772px) {
    .task-table-header-item {
        display: none !important;
    }
    .div-hr{
        display:none !important;
    }
}

.flex-item-middle-pk {
    flex-grow: 2;
    margin-left: .3em;
    margin-right: .3em;
}

.flex-item-small-pk {
    flex-grow: 1;
    /*margin-left: .3em;
    margin-right: .3em;*/
}

.line-with-btn {
    line-height: 1.42857143;
    padding: 6px 16px;
}

.hover-element-pk {
    transition: .2s linear;
    background-color: white;

    /*display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;*/
}

    .hover-element-pk:hover {
        transition: .2s linear;
        background-color: whitesmoke;
        border-radius: 15px;
    }

.main-backlog-div-pk {
    border: 2px solid white;
    background-color: white;
    margin: .3em;
}

.project-div-pk:hover {
    transition: .2s linear;
    background-color: whitesmoke;
}

.project-div-pk {
    padding-left: .5em;
    transition: .2s linear;
    background-color: white;
    border-radius: 15px;
}

.report-div-pk {
    margin-top: .2em;
    margin-bottom: .2em;
}

.task-div-pk {
    margin: 0.3em;
    padding: .3em;
}

.backlog-left-item-pk {
    padding-left: .2em;
    border-radius: 5px 15px 10px;
    font-size: 130%;
    /*background-color: aliceblue;*/
    color: black;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    /*width: 80%;*/
    /*float: left;*/
}

.backlog-right-item-pk {
    /*width: 20%;*/
    /*float: right;*/
    /*border: 2px solid yellow;*/
    vertical-align: central;
    text-align: center;
    /*margin-top: .5em;*/
    margin-bottom: .5em;
    /*padding: .3em;*/
}

.backlog-left-task-pk:hover, .backlog-right-task-pk:hover {
    transition: .2s linear;
    background-color: whitesmoke;
}

/*.main-backlog-div-pk {
    background-color:rgb(243, 240, 240);
    color:black;
}*/

.project-label-pk {
    padding-left: .5em;
    border-radius: 15px 50px 30px;
    font-size: 180%;
    background-color: aliceblue;
    color: black;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .3em;
}

.backlog-label-pk {
    padding-left: .5em;
    border-radius: 15px 50px 30px;
    font-size: 180%;
    background-color: rgb(65, 206, 44);
    color: black;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .3em;
}

.sprint-backlog-label-pk {
    padding-left: .5em;
    border-radius: 15px 50px 30px;
    font-size: 180%;
    background-color: darkorange;
    color: black;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .3em;
}

.defect-label-pk {
    padding-left: .5em;
    border-radius: 15px 50px 30px;
    font-size: 180%;
    background-color: rgb(255, 69, 69);
    color: black;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .3em;
}

.add-div-pk {
    border-radius: 15px;
}

.block-right {
    color: red;
}

.btn-add-pk {
    display: block;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    width: 8%;
    height: 5%;
    border-radius: .9em;
    margin: 0 auto;
}

    .btn-add-pk:hover,
    .btn-add-pk:focus {
        background-color: #419641;
        background-position: 0 -15px;
    }

    .btn-add-pk:active,
    .btn-add-pk.active {
        background-color: #419641;
        border-color: #3e8f3e;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.list-group {
    margin-left: 200px;
    float: left;
    padding-top: 20px;
}

.lead {
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 10%;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body, html {
    height: 100%;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

    .main {
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main {
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a {
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

        nav.sidebar li {
            width: 100%;
        }

        nav.sidebar:hover {
            margin-left: 0px;
        }

    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar {
        margin-left: 0px;
        float: left;
    }

        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}
